body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-background{
  background-image: url(../public/assets/sarhub.png);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-login{
  background-color: #010101;
}

.body-login button{
  background-color: #cb7a00ff;
  width: 200px;
}

.radius{
  border-radius: 5px;
  border-color: gray;
}

.sarhub{
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  margin-left: 30%;
}

.hub{
  height: 50px;
  background-color: #cb7a00ff;
  border-radius: 5px;
  color: black;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}

.sar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5px;
}

